
.imagenes{
    height: 250px;
        
}
.cabo{
    height: 270px;
}
.patro1{
    height: 50px;
}
p{
    font-size: 16px;
    font-family: cursive;
    font-weight: 100;
}
.text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
video{
    width: 350px;
    padding-bottom: 15px;
}
#parrafo{
    width: 500px;
    margin-top: 40px;
    font-size: 16px;
    font-family: cursive;
    font-weight: 100;
}
audio{
    margin-top: 50px;
}
#footer{
    top: 25px;
    height: 300px;
}
.empresa{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
}

.empresa a {
    text-decoration: none;
    color:white;
    font-size: 14px;
}
#m{
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-right: 55px;
}

#infom{
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.marcas{
    width: 100px;
    height: 100px;
    display: block;
}