.container{
    margin-top: 15px;
}
p{
    font-size: 16px;
    font-family: cursive;
    font-weight: 100;
}

.text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}
video{
    width: 300px;
    height: 250px;
    
}
#parrafo{
    width: 300px;
    margin-top: 40px;
    font-size: 16px;
    font-family: cursive;
    font-weight: 100;
}
audio{
    margin-top: 50px;
}
.empresa{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
}

.empresa a {
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.empresa a :hover{
    color: bisque;
}
.m{
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}
.marcas{
    width: 100px;
    height: 100px;
    display: block;
}